---
import Card from "../components/Card.astro";

import snappyProcessIcon from "../../public/icon-snappy-process.svg";
import priceIcon from "../../public/icon-affordable-prices.svg";
import peopleIcon from "../../public/icon-people-first.svg";

const cardsContent = [
  {
    icon: snappyProcessIcon,
    title: "Snappy Process",
    text: "Our application process can be completed in minutes, not hours. Don’t get stuck filling in tedious forms.",
  },
  {
    icon: priceIcon,
    title: "Affordable Prices",
    text: "We don’t want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible.",
  },
  {
    icon: peopleIcon,
    title: "People First",
    text: "Our plans aren’t full of conditions and clauses to prevent payouts. We make sure you’re covered when you need it.",
  },
];
---

<section class="px-24">
  <div class="w-32 border-t border-[#eca4eaaf] mb-12"></div>
  <h2 class="font-headings text-6xl mb-16">We´re different</h2>
  <div class="flex flex-row w-full gap-6 items-center justify-center">
    {
      cardsContent.map((card) => (
        <Card icon={card.icon} title={card.title} text={card.text} />
      ))
    }
  </div>
</section>
