---
import { getImage } from "astro:assets";

const { icon, title, text } = Astro.props;

const iconSource = await getImage({
  src: icon,
});
---

<article>
  <img src={iconSource.src} alt={`${title}-icon`} class="h-16 mb-6" />
  <h4 class="font-headings text-2xl mb-4">{title}</h4>
  <span class="text-sm text-balance">{text}</span>
</article>
