---

---

<section>
  <div>
    <div class="bg-primary-Dark-Violet">
      <span class="text-white">-------</span>
      <h1>Humanizing your insurance.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum,
        et officia est qui itaque corporis ratione eos consequatur accusamus
        natus iure nulla quaerat, eaque voluptatibus vel rerum dolor amet!
      </p>
      <button>VIEW PLANS</button>
    </div>
    <div>
      <img src="../../../images/image-intro-desktop.jpg" alt="cover-image" />
    </div>
    <div>
      <img src="" alt="" />
    </div>
  </div>
</section>
