---
const { text, hoverfill } = Astro.props;
---

<button
  class:list={[
    "px-8 py-2 border-solid border-2 bg-[#fff0]",
    {
      "text-primary-Dark-Violet border-neutral-Very-Dark-Violet hover:text-neutral-Very-Light-Gray hover:bg-neutral-Very-Dark-Violet":
        hoverfill,
      "text-neutral-Very-Light-Gray border-neutral-Very-Light-Gray hover:text-neutral-Very-Dark-Violet hover:bg-neutral-Very-Light-Gray":
        !hoverfill,
    },
  ]}
  type="button"
  >{text}
</button>

