---
import logoimg from "../../../images/bg-pattern-mobile-nav.svg";
---

<footer>
  <div class="flex flex-col md:flex-row items-center justify-between bg-white shadow-md">
    <div>
      <a href="#">
        <img src="../../public/logo.svg" class="m-9" />
      </a>
    </div>

    <div>social media</div>
  </div>

  <div>
    <div>
      <h1>our company</h1>
      <ul>
        <li>how we work</li>
        <li>why insure?</li>
        <li>view plans</li>
        <li>reviews</li>
      </ul>
    </div>

    <div>
      <h1>help me</h1>
      <ul>
        <li>faq</li>
        <li>terms of use</li>
        <li>pravacy policy</li>
        <li>cookies</li>
      </ul>
    </div>
    <div>
      <h1>contact</h1>
      <ul>
        <li>sales</li>
        <li>support</li>
        <li>live chat</li>
      </ul>
    </div>
    <div>
      <h1>others</h1>
      <ul>
        <li>careers</li>
        <li>press</li>
        <li>licences</li>
      </ul>
    </div>
  </div>
</footer>
