---
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
import AreDiff from "../components/AreDiff.astro";
import CustomButton from "../components/CustomButton.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Cover />
    <AreDiff />
    <section class="p-28">
      <div
        class="bg-primary-Dark-Violet flex min-h-44 items-center justify-between p-12 relative my-0 mx-auto"
      >
        <img
          src="../../public/bg-pattern-how-we-work-desktop.svg"
          alt=""
          class="absolute h-full right-0 z-0"
        />
        <div class="w-1/2">
          <h2
            class="text-neutral-Very-Light-Gray font-headings text-5xl text-balance"
          >
            Find out more about how we work
          </h2>
        </div>
        <div class="z-10">
          <CustomButton text="HOW WE WORK" hoverfill={false} />
        </div>
      </div>
    </section>
  </main>
</Layout>
