---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navmenu from '../components/Navmenu.astro'
---

<Layout title="Welcome to Astro.">
  <Navmenu/>
  <main>
    <h1 class="font-headings">
      Welcome to <span class="text-gradient">Astro</span>
    </h1>
  </main>
</Layout>
