---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro"
---

<Layout title="Welcome to Astro.">
  <main>
  

    <Footer></Footer>
  </main>
</Layout>
